{% extends 'parent/base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if post %}
    	{% for img in post.images.all %}
            <br>
            <img src="{{ img.image_file.url }}" alt="{{ img.title }}">
            <a href="{% url 'blog:delete_image' img.id %}"> حذف تصویر </a>
    	{% endfor %}

    {% endif %}
    <br>
    <input type="submit" value="Submit">
</form>
{% if form.errors %}
    لطفا خطا ها زیر را اصلاح کنید!
    <br>
    {% for field in form %}
    	{% if form.errors %}
            {% for error in field.errors %}
            	{{ field.label }} : {{ error }}
            {% endfor %}
    	{% endif %} 
    {% endfor %}
{% endif %}
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %} 
{% endblock %}